#sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0e0e15;
  color: #fff;
  padding: 20px;
}

#content {
  flex: 1;
  padding: 20px;
}

.content-item {
  list-style: none;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  /* transition: background-color 0.3s; Smooth transition for hover effect */
  transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.03); 
        background-color: #fff;
        color: #0e0e15;
    }
}

.dashboard {
  width: stretch;
  color: white;
  padding-left: 3rem;
}

.dashboard-background {
  background-image: url('../images/background.jpg');
  background-size: cover;  /* Adjust the size property as needed */
  background-position: center center;  /* Adjust the position property as needed */
  background-repeat: no-repeat;  /* Adjust the repeat property as needed */
  height: 100vh;  /* Set the height to your desired value */
  /* opacity: 50%; */
  /* Add additional styling as needed */
}

.profile{
  background-color: #0e0e15;
  color: #fff;
  width: stretch;
  padding-left: 3rem;
}